[Unit]
Description=Run the hoverbot discord bot as user %i
After=multi-user.target
After=network-online.target
Wants=network-online.target

[Service]
# Replace the placeholders

# HOVERBOTPY: Path to Python project (/home/frank/hoverbois/hoverbotpy)
WorkingDirectory=HOVERBOTPY

# POETRYPATH: Path to Poetry executable (/home/frank/.local/bin/poetry)
# APIKEY: Discord bot key
ExecStart=POETRYPATH run hoverbot-discord APIKEY

User=%i
Group=%i
Type=idle

Restart=always
RestartSec=10
RestartPreventExitStatus=0
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
