[Unit]
Description=Run the hoverbot discord bot as user %I
After=multi-user.target
After=network-online.target
Wants=network-online.target

[Service]
# Replace PYTHONPATH with python executible from virtualenv
# Replace PATH with path to the file (TODO, make it a module so it's not this jank)
# Replace USER with username on Pi
ExecStart=PYTHONPATH -O PATH
User=USER
Group=USER
Type=idle
Restart=always
RestartSec=15
RestartPreventExitStatus=0
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
